
  <div class="mainContent">
  <div class="content">
    <article class="topcontent">
      <video width="480" height="240" autoplay muted loop preload="auto">
        <source src="./assets/videos/Intro.mp4" type="video/mp4" />
        <p>OOPS! It looks like your browser doesn't support HTML5 videos.</p>
      </video> 
    </article>
  </div>
  
      <aside class="top-sidebar">
        <article>
          <h2><a [routerLink]="['applications']">Applications</a></h2>
          <h4><a [routerLink]="['error-log']">Error Log</a></h4>
          <h4><a [routerLink]="['sw-loader']">Sw Loader</a></h4>
          <h4><a [routerLink]="['ibit']">IBIT</a></h4>
          <h4><a [routerLink]="['lrus-report']">LRUs Report</a></h4>
        </article>
      </aside>
      
      <aside class="middle-sidebar">
        <article>
          <h3>Technical Information</h3>
          <h4><a href="guides.html">Technical Manual</a></h4>
        </article>
      </aside>				

      <aside class="bottom-sidebar">
        <article>
          <h2>Guides</h2>
          <h4><a href="guides.html">Technical Information page</a></h4>
        </article>
      </aside>	
</div>